<template>
  <div style="height: 100%">
    <Leaflet2Vue></Leaflet2Vue>
    <ButtonBar></ButtonBar>
  </div>
</template>

<script>
import Leaflet2Vue from 'components/Leaflet2Vue';
import ButtonBar from 'components/ButtonBar';

export default {
  components: {
    Leaflet2Vue,
    ButtonBar
  }
}
</script>

<style>
  ButtonBar {
    height:100px;
  }


</style>