<template>
  <div id="app" style="height: 100%">
    <md-app style="height: 100%">
    <md-app-toolbar class="md-primary">
        <div class="md-toolbar-row">
          <div class="md-toolbar-section-start">
            <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
              <md-icon>menu</md-icon>
            </md-button>

            <span class="md-title">Geo Viewer</span>
          </div>
        </div>

      </md-app-toolbar>

      <md-app-drawer :md-active.sync="menuVisible">
        <md-toolbar class="md-transparent" md-elevation="0">Navigation</md-toolbar>

        <md-list>
          <router-link to="/" style="width: inherit;" v-on:click.native="menuVisible = !menuVisible">
          <md-list-item>
              <md-icon>public</md-icon>
              <span class="md-list-item-text">Map</span>
          </md-list-item>
          </router-link>
          <router-link to="/search" style="width: inherit;" v-on:click.native="menuVisible = !menuVisible">
          <md-list-item>
              <md-icon>search</md-icon>
              <span class="md-list-item-text">Search</span>
          </md-list-item>
          </router-link>
        </md-list>
      </md-app-drawer>
      
    <md-app-content style="height: 100%">
      <router-view></router-view>
    </md-app-content>
    </md-app>
  </div>
</template>

<script>
export default {
  data: () => ({
    menuVisible: false
  })
};
</script>

<style>
.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}
.md-list-item {
  color: rgba(0,0,0,0.87);
}
</style>
