<template>
  <div id="buttonBar">
    <md-button class="md-raised md-primary" v-on:click.native="fetch()">Fetch</md-button>
    <md-button class="md-raised" v-on:click.native="clear()">Clear</md-button>
  </div>
</template>

<script>
    export default {
        methods: {
            fetch() {
                this.$store.dispatch("updateData", true);
            },
            clear() {
                this.$store.dispatch("clearData");
            }
        }
    }
</script>

<style>
    #buttonBar {
        float: right;
    }
</style>