<template>
<div style="height: 95%;">
  <v-map ref="map" :zoom="zoom" :center="center" :bounds="getBounds" @l-zoomend="updateZoom">
    <v-tilelayer :url="url" :attribution="attribution"></v-tilelayer>
    <v-jsonlayer ref="json" :geojson="getAllData" :options="options"></v-jsonlayer>
  </v-map>
</div>
</template>

<script>
import Vue2Leaflet from 'vue2-leaflet';
import L from 'leaflet';
import Vue from 'vue';
import leafletDraw from 'leaflet-draw';
import leafletheat from 'leaflet.heat';

export default {
    components: {
    'v-map': Vue2Leaflet.Map,
    'v-tilelayer' :Vue2Leaflet.TileLayer,
    'v-jsonlayer' :Vue2Leaflet.GeoJSON,
    'v-marker': Vue2Leaflet.Marker
  },
    data () {
    return {
      zoom:9,
      center: [51.505, -0.09],
      bounds: null,
      options: {
        pointToLayer: function (feature, latlng) {
            return L.circleMarker(latlng, {
              radius: 8,
              fillColor: "#ff7800",
              color: "#000",
              weight: 1,
              opacity: 1,
              fillOpacity: 0.8
            });
          }
      },
      url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      heatLayer: L.heatLayer([], {radius: 60, max: 2.0}),
    }
  },
  mounted() {
    const mapComponent = this.$refs.map.mapObject;
    let drawnItems = new L.FeatureGroup();
    mapComponent.addLayer(drawnItems);
    let drawControl = new L.Control.Draw({
      edit: {
        featureGroup: drawnItems,
      },
      draw: {
        polyline: false,
        circle: false,
        polygon: false,
        marker: false,
        circlemarker: false
      }
    });
    mapComponent.addControl(drawControl);
    let store = this.$store;

    mapComponent.on(L.Draw.Event.CREATED, (event) => {
        drawnItems.addLayer(event.layer);
        store.dispatch("addLayer", {
          layer: event.layer
        });
    });
    mapComponent.on(L.Draw.Event.DELETED, (event) => {
      drawnItems.removeLayer(event.layer);
      //Dispatch the leaflet IDs (leaflet uses them as the object keys)
      store.dispatch("removeLayer", Object.keys(event.layers._layers));
    });
    mapComponent.on(L.Draw.Event.EDITED, (event) => {
      store.dispatch("editLayer", event.layers);
    });

   mapComponent.addLayer(this.heatLayer); 

   let overlayMaps = {
     "Dots": this.$refs.json.mapObject,
     "Heatmap": this.heatLayer
   };

   L.control.layers(null, overlayMaps).addTo(mapComponent);
  },
  computed: {
      getBounds() {
          if (this.getAllData.length > 0 && this.updateBounds) {
            this.$store.commit("RESET_BOUNDS");
            const mapComponent = this.$refs.map;
            return L.geoJson(this.getAllData).getBounds();
          } else {
              return null;
          }
      },
      getAllData() {
        return this.$store.getters.allData;
      },
      updateBounds() {
        return this.$store.state.bounds;
      }
  },
  updated () {
    let heatCoords = this.getAllData.map((obj) => {
        return [obj.geometry.coordinates[1], obj.geometry.coordinates[0], obj.properties.count*300];
    });
    this.heatLayer._latlngs = heatCoords,
    this.heatLayer.redraw();

  },
  methods: {
    updateZoom() {
     const mapComponent = this.$refs.map.mapObject;
     this.$store.dispatch("updateZoom", mapComponent._zoom);
    }
  }
}
</script>

<style>
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-draw/dist/leaflet.draw.css';

.leaflet-draw-actions a {
  color: white !important;
}

.leaflet-heatmap-layer {
  max-width: none !important;
  max-height: none !important;
}
</style>